body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
  background: #adaaaa;
  padding: 30px;
  border-radius: 12px;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}